
.simple_box
  border-top: 2px solid #e5e7eb
  box-sizing: border-box
  position: relative
  .header
    position: absolute
    top: -.8rem
    background-color: #fff
    padding: 0 .5rem


.button
  display: flex
  border: 1px solid #888
  display: flex
  cursor: pointer
  padding: .5rem 0
  border-radius: .25rem
  width:  40%
  position: relative
  .name
    text-align: center
    width: 100%

.button.building
  display: flex
  border: 1px solid #888
  display: flex
  cursor: pointer
  padding: .5rem 0
  border-radius: .25rem
  width:  40%
  position: relative
  &:hover
    background-color: #F9F9F9
  .menu
    width: 4rem
    border-left: 1px solid #888
    text-align: center
    padding: 0 .2rem
    &:hover
      text-decoration: underline
  .fuel-indicator
    width: 100%
    position: absolute
    height: 2px
    background-color: #cb3837
    bottom: 0
    transition: width .5s ease-in-out

.button.resource
  width: 120px
  &:hover
    background-color: #F9F9F9
