.button
  display: flex
  border: 1px solid #888
  border-bottom-width: 4px
  display: flex
  cursor: pointer
  padding: .5rem 0
  border-radius: .25rem
  width:  40%
  position: relative
  transition: background-color 1s ease-out
  &:hover
    background-color: #ddd
  &:active
    border-bottom-width: 2px
    top: 2px
  .name
    text-align: center
    width: 100%
  &:active
    border-bottom-width: 2px
    top: 2px

.button.building
  display: flex
  .menu
    width: 4rem
    border-left: 1px solid #888
    text-align: center
    padding: 0 .2rem
    &:hover
      text-decoration: underline
  .fuel-indicator
    width: 100%
    position: absolute
    height: 2px
    background-color: #fc5d5d
    bottom: 0
    transition: width .5s ease-in-out
    box-shadow: 0 0 5px #fc5d5d, 0 0 25px #fc5d5d, 0 0 50px #fc5d5d, 0 0 200px #fc5d5d

.button.resource
  width: 120px

