@tailwind base
@tailwind components
@tailwind utilities
@import './components.sass'

body
  background: #fff

main.overview_page
  min-height: 100vh
  flex-direction: column
  max-width: 840px
  margin: auto


.nav_wrapper, .env_wrapper, .monitor_wrapper
  flex: 1
  padding: .5rem
  height: 100vh
  box-sizing: border-box

